torch
numpy
mysql-connector-python
pandas
matplotlib
python-dotenv
chromadb
langchain
langchain-openai
langchain_huggingFace
langchain-core
transformers
tiktoken
huggingface-hub
mistralai
langsmith
langchain-community
langchain_mistralai
sentence-transformers
scikit-learn
faiss-cpu
langgraph
wikipedia
IPython
streamlit